<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title> An About Us Page | CoderGirl </title>
  <link rel="stylesheet" href="static/about.css">
</head>
<body>
<header>
    <div>
    <h1>About Us</h1>
    </div>
</header>
<div class="side">
    <div class="im-container">
    <img src="https://assets.website-files.com/649c443eb0ab68cd5dfec263/649c443eb0ab68cd5dfec2b5_bg_testing.png">

    <img src="https://i.pinimg.com/564x/d0/5d/52/d05d529b1073aee6c8e1b5e059891f1b.jpg" class="img2">
    <img src="https://i.pinimg.com/564x/00/ab/38/00ab38beb4694d0e20e395e9d768098c.jpg" class="img3">

        <p>A new Notes application in which you will have the opportunity to create notes, edit them, share them with friends. The program was created in 2023.
            In this web application, you need to register a new account, import your personal data that is protected (first name, last name, email, username, password), after which you can take notes, edit and share your notes with other people. Other people can go to your page and read the Notes that you dropped, just like you can read different notes, get information and get information about the news
        </p>
    </div>

</div>
    <div class="data">
    <a href={{url_for('main_page')}} class="hire">Hire Me</a>
        <a href={{url_for('signup')}} class="hire">SignUp</a>
  </div>
</body>
</html>
